@mixin commancss {
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_banner {
    background: #042F1A;
    width: 100%;
    height: auto;
    min-height: 100vh;
    @include commancss();
    flex-direction: column;
    padding: 6rem 0rem;
    padding-bottom: 18rem;
    position: relative;
    z-index: -888;

    .BannerEl {
        position: absolute;
        left: 50%;
        top: 118px;
    }

    .bannerE2 {
        position: absolute;
        top: 430px;
        left: 27%;

        img {
            height: 80px;
        }
    }


    .bannerE3 {
        position: absolute;
        right: 28%;
        top: 450px;


        img {

            height: 80px;
        }

    }

    .banner_content {
        position: relative;
        width: 100%;
        margin: auto;
        @include commancss();
        flex-direction: column;


        h1 {
            font-size: clamp(1rem, 19vw, 30rem);
            color: white;
            font-weight: 600;
            @include commancss();


            &:nth-child(3) {
                margin-top: -12rem;

            }




        }

        // .headingTwo{

        // }

        img {
            width: 450px;
            margin-top: -15rem;

        }
    }

}