.section5 {
    background-color: #FFF6F6;
    top: 0;
    position: sticky;
    height: 100vh;
    z-index: 14;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    padding: 100px 0px 100px 0px;
    height: 100vh;

    h1 {
        font-size: 4rem;
        color: #042F1A;
        line-height: 52px;
        text-align: center;
    }


    .cardSection {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        margin-top: auto;
        gap: 40px;

        .MainCard {
            margin-top: 150px;

            .cardContent {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 180px;

                }

                h2 {
                    margin-top: 150px;
                    font-size: 2.5rem;
                    font-weight: 200;
                }
                p{
                     
                    margin-top:20px;
                    font-size: 18px;
                    text-align: center;
                    font-weight: 100;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;

                }
            }
        }
    }
}