.section6 {
    width: 100%;
    height: auto;
    padding: 60px;

    position: relative;
    z-index: 16;
    overflow: hidden;
padding-bottom: 150px;    // background-color: #042F1A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
&::before{
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 150vw;
    border-radius: 150%;
    height: 0;
    padding-bottom: 150%;
    background-color: #042F1A;
}

    .headingSec {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .main_Slider {
        margin-top: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        gap: 40px;


        .sliderBox {
            width: 700px;
            height: 600px;
            background-color: #F95B77;
            border-radius: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            

            &:hover {
                .marqueEffect {
                    cursor: pointer;
                    animation-name: marqueAni;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }


            }

            .SliderHeading {
                width: 100%;
                padding-top: 20px;


                h1 {
                    font-size: 9rem;
                    text-align: center;
                    line-height: 120px;
                    font-weight: bold;

                    color: #042F1A;
                }
            }

            .sliderImg {
                overflow: hidden;
                width: 100%;

                .marqueEffect {




                    img {
                        margin-top: 30px;
                        width: 100%;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                        object-position: top;

                    }
                }
            }

        }
    }


}

.marqueEffect {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 200%;
}

@keyframes marqueAni {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}