@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anek+Latin:wght@200&family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Inter&family=Lato:ital,wght@0,700;1,100;1,300&family=Nunito&family=Poppins:wght@400;500&family=Roboto+Slab&family=Roboto:wght@500&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Bebas Neue', sans-serif;
    
}
 
body{
  overflow-x: hidden  !important;
}
 